<tr>
    <td>{{ switch_data.interfaces[interface].name }}</td>
    <td>{{ switch_data.interfaces[interface].duplex }}</td>
    <td>{{ switch_data.interfaces[interface].speed }}</td>
    <td>{{ switch_data.interfaces[interface].vlan }}</td>
    <td>{{ switch_data.interfaces[interface].status }}</td>
    <td>{{ switch_data.interfaces[interface].description }}</td>
    <td>{{ switch_data.interfaces[interface].input_errors }}</td>
    <td>{{ switch_data.interfaces[interface].port_security.maximum }}</td>
    <td>{{ switch_data.interfaces[interface].port_security.sticky }}</td>
    <td>{{ switch_data.interfaces[interface].port_security.last_mac_address }}</td>
    <td>{{ switch_data.interfaces[interface].port_security.violation_count }}</td>
</tr>